[package]
name = "jutsu-utility"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
rust-version.workspace = true

[dependencies]
pinocchio.workspace = true
jutsu-errors.workspace = true